.main_screen_2 {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 622px;
  background-color:#2196F3;
  font-family: 'Karantina', cursive;
}

.main_screen_2_text > span {
  display: block;
  line-height: 129.54px;
  font-size: 128px;
  color:white;
}


.main_screen_2 > i {
  position: relative;
  top:0px;
  right: 35px;
  line-height: 129.54px;
  font-size: 71px;
  color:white;
}