@media screen and (min-width:1024px) {
  .top_nav {
    width: 100%;
    height: 110px;
  }

  .top_nav > i {
    display: none;
  }

  .main_screen {
    width: 100%;
    height: 1166px;
  }


  .main_screen > .main_screen_text {
    width: 95%;
    position: relative;
    top: -180px;
    left: 30px;
  }

  .main_screen > .main_screen_text > span {
    line-height: 75px;
    font-weight: 700;
  }


  .bottom_nav {
    position:relative;
    right:330px;
    bottom: 350px;
    width: 1024px;
    height: 200px;
  }



}

