@media screen and (min-width:1476px) {
  body {
    width: 1728px;
    height: 1357px;
  }

  #main_container {
    display: flex;
    width: 1728px;
    height: 1357px;
  }

  .container {
    width: 430px;
    height: 1157px;
  }

  .top_nav {
    width: 1728px;
    height: 15%;
    justify-content: left;
  }

  .top_nav > span {
    top:5px;
    left:75px;
  }

  .top_menu_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 200px;
  }

  .top_menu_screen {
    width: 1728px;
    height: 200px;
  }

  .container_2 {
    width: 1299px;
    height: 857px;
  }

  .top_nav_2 {
    display: none;
  }
}